[Unit]
Description=gw - OBECA Gateway Process
After=rc-local.service
Before=getty.target

[Service]
EnvironmentFile=-/etc/default/obeca
ExecStart=/usr/bin/gw 
Type=idle
User=ofr
Group=ofr
Restart=always
StartLimitInterval=2
StartLimitBurst=20

[Install]
WantedBy=basic.target
